html {
  box-sizing: border-box;
  overflow-x: hidden;
  height: auto;
}

body {
  margin: 0;
}

section {
  min-height: 100vh;
  max-width: 100%;
  background: #f1faee;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

/* HEADER SECTION */

.nav-link {
  cursor: pointer;
}

.navbar-nav a {
  font-size: 1.15rem;
}

.navbar .navbar-collapse {
  text-align: center;
}

header a {
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  color: #1d3557;
  cursor: pointer;
}

p {
  color: #1d3557;
}

.logo {
  width: 45px;
}

/* WELCOME SECTION */

#welcome {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  /* height: 100vh; */
  /* padding-bottom: 50%; */
}

#welcome p {
  font-size: 2rem;
  font-family: "Dosis", sans-serif;
}

.welcome-img-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-img-div h1 {
  font-size: 2rem;
  font-weight: 700;
}

.welcome-img-wrapper {
  width: 65%;
  /* padding-bottom: 10%; */
}

.welcome-img {
  width: 100%;
  box-shadow: 0 8px 6px -6px #000;
}

/* INTRO SECTION */

.intro {
  height: auto;
  max-width: 100%;
  padding-bottom: 5%;
}

.intro-text-div {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  height: 100%;
  max-width: 100%;
}

.intro-text-div p {
  font-size: 2.5vw;
  padding: 0 4%;
  width: 50%;
  font-family: "Dosis", sans-serif;
}

.intro-img-div {
  text-align: center;
}

.intro-img {
  width: 50%;
  height: 90vh;
  margin: 0 5%;
  box-shadow: 0 8px 6px -6px #000;
}

/* CAROUSEL SECTION */

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
  padding-bottom: 5%;
}

.carousel-caption {
  bottom: 0;
  top: auto;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-indicators .active {
  background-color: black !important;
}

.carousel-indicators li {
  background-color: gray !important;
}

.carousel-item {
  padding: 7% 10%;
}

.gallery-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.gallery-pic-div {
  width: 380px;
  margin: 1%;
}

.gallery-pic {
  width: 100%;
  box-shadow: 0 8px 6px -6px #000;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f1faee;
  max-width: 100%;
}

.carousel-h1 h1 {
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
  color: #1d3557;
  font-family: "Dosis", sans-serif;
}

.carousel-img {
  width: 100%;
  box-shadow: 0 8px 6px -6px #000;
  text-align: center;
  outline: none;
  height: 75vh;
}

.slider-div {
  outline: none;
  border: none;
  width: 65% !important;
}
.slider-div h3 {
  margin-bottom: 0;
}
.slider-div:active {
  outline: none;
}
.slider-div:focus {
  outline: none;
}

.slider-wrapper {
  width: 90%;
}

.carousel-img:active {
  outline: none;
}

.slick-slide img {
  display: inline;
}

.arrow {
  width: 70px;
  cursor: pointer;
}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2%;
  max-width: 100%;
}

.map-div {
  max-width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mapContainer-wrapper {
  width: 70%;
}

.mapContainer {
  width: 80%;
  height: 300px;
  max-width: 100%;
  max-height: 100vh;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 40%;
}

input {
  width: 200px;
  height: 30px;
  background: transparent;
}

textarea {
  width: 400px;
  height: 120px;
  background: transparent;
  resize: none !important;
}

.x {
  /* width: 20px; */
  border: 1px solid;
  border-radius: 20px;
  float: right;
}

.x:hover {
  background-color: #343940;
  color: white;
  border: 1px solid;
}

.x-div {
  position: absolute;
  padding-right: 5%;
  margin-top: 9%;
  width: 100%;
}

#video {
  text-align: center;
}

.slick-arrow {
  width: 50px;
  z-index: 1;
  background: transparent !important;
}

.slick-next:before,
.slick-prev:before {
  font-size: 50px;
  color: black;
}

.video {
  width: 40%;
  margin: 1%;
}

.credit {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .intro-text-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1050px 1fr !important;
  }
  .credit {
    justify-content: center !important;
  }
  form {
    width: 80%;
  }
  .slider-div {
    width: 98% !important;
  }
  .carousel-img {
    width: 100%;
    height: 50vh;
  }
  .slick-arrow {
    display: none !important;
  }
  .gallery-wrapper {
    padding-top: 15%;
  }
  .x-div {
    padding-top: 20%;
    width: 140px;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .x {
    background: transparent;
    border: none;
  }
  textarea,
  iframe {
    width: 98%;
  }
  #gallery {
    /* height: 100vh; */
    padding-bottom: 20%;
  }
  .mapContainer {
    width: 98%;
    height: 30vh;
  }
}

@media screen and (max-width: 768px) {
  .videos {
    flex-direction: column;
  }
  .video {
    width: 98%;
  }
  .slider-wrapper {
    width: 100%;
  }
  .welcome-img-div h1 {
    font-size: 1.5rem;
  }
  .welcome-img-wrapper {
    width: 100%;
    padding-bottom: 30%;
  }
  .welcome-img {
    width: 100%;
    height: 300px;
  }
  .intro-text-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .intro-text-div p {
    font-size: 2rem;
    width: 100%;
  }
  .intro-img {
    grid-row: 2/3;
    margin: 0;
    width: 100%;
  }
}
